
server {

  listen 80;
  server_name localhost ~^.*$;
  client_max_body_size 100m;


  location ${VCW_STACK_NGINX_CONF_LOCATION}/ {
    proxy_pass http://${VCW_STACK_NGINX_CONF_PROXY_PASS}/;
    proxy_http_version 1.1;
    rewrite ^${VCW_STACK_NGINX_CONF_LOCATION}/(.*) /$1 break;
  }

}
